@import "addons/button";
@import "css3/prefixer";
@import "css3/box-shadow";
@import "css3/linear-gradient";
@import "functions/linear-gradient";
@import "colors";

.blue_button {
	font-size: 18px;
	font-weight: normal;
	color: white;
	display:block;
	-webkit-tap-highlight-color: rgba(0,0,0,0.00);
	padding: 8px 15px;
	font-weight:bold;
	border-radius: 5px;
	background:#676785;
	border:1px solid #565475;
	&:hover {
		color:white;
	}
}

.blue_button.sign_in {
	text-align:center;
	margin-top:20px
}


.sign_in {
	width:200px;
	margin:0 auto;
}

